/* general */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

div {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block; 
}

/*  cocina*/
.kitchen {
    background-color: #fff3e0;
    border: 2px solid #e65100;
    width: 53%;
    margin-bottom: 30px;
 

}

.kitchen__title { color: #e65100; }

.kitchen__pot, .kitchen__plate, .kitchen__glass {
    background-color: #ffffff;
}

/* MODIFICADOR: Vaso */

.kitchen__glass{
    background-color: #f8f8f8; 
    color: rgb(17, 12, 12);
    border: 2px dashed rgb(184, 184, 184);
}


/*  livingroom */
.bedroom {
    background-color: #e3f2fd; 
    padding: 20px;
    border: 2px solid #1565c0;
    width: 50%;
    margin-bottom:  30px;
    

}

.bedroom__title { color: #1565c0; }

.bedroom__closet, .bedroom__lamp, .bedroom__bed {
    background-color: #bbdefb;
}

/* MODIFICADOR: Cama grande */

.bedroom__bed--big {
    font-size: 1.5em; 
    padding: 10px;
    font-weight: bold;
    border: 3px solid #0d47a1;
}


/* sala */
.livingroom {
    background-color: #d6ceda;
    padding: 20px;
    border: 2px solid #0c208f;
    width: 50%;
    margin-bottom: 30px;
    
}

.livingroom__title { color: #080808; }

.livingroom__sofa, .livingroom__tv, .livingroom__table {
    background-color: #f5f8f5;
}

/* MODIFICADOR: Mesa nueva */

.livingroom__table--new {
    border: 3px solid rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 0 10px pink; 
}